body {
  background-color: rgb(32, 31, 31);
  text-align: center;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  color: peru;
  font-weight: 500;
  font-style: italic;
}

button {
  background-color: peru;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 20px;
  font-size: 20px;
  border-radius: 12px;
  transition-duration: 0.3s;
}

button:hover {
  background-color: white;
}

table {
  margin: auto;
  width: 90%;
  text-align: center;
  display: table;
  height: 50px;
}

th {
  background-color: darkgrey;
  color: peru;
}

th,
td {
  padding: 15px;
  border-bottom: 1px solid;
  border-color: antiquewhite;
}

tr:hover {
  background-color: white;
}
